# Executables specific to this assignment

arrayToStringTest
arrayBoundsDemo
countEvensTest
minOfArrayTest
minOfArrayErrorTest
countPrimesTest
maxOfArrayTest
maxOfArrayErrorTest
sumOddsTest
sumOfArrayTest
utilityTest

# Emacs backup files

*~

# Vim swap files

*.swo
*.swp


# Generic file patterns associated with C++

a.out
*.o
